html,body,div.container,div.board {
  height: 100%;
}

body {
  background-color: #ccc;
  overflow: hidden;
}

div.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: #888;
}

div.header {
  background-color: #333;
  color: #fff;
  padding: 5px;
}

div.board {
  padding: 5px;
}

div.board p span {
  color: #360;
}